.body {
    font-size: 25px;
    background-color: rgb(59, 244, 244);
    font-family: Helvetica;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    
}


h3 {
    font-family: Helvetica;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1em 0;
}

button {
    width: 80px;
    background-color: fuchsia;
    /* padding: 0.75em 1.5em 0.75em 1em; */
    margin: auto;
    border: 1px solid black;
    border-radius: 5px;
    font-size: large;
    color: white;
    text-align: center;
    line-height: 1.5em;
}

blockquote {
    margin: auto;
    padding: 1em;
}

a {
    text-align: center;
    
}